body {
    background-color: #4CE0D2;
    font-family: 'Mongolian Baiti', sans-serif;
    
}

h1 {
    text-align:center;
    font-size: 48px;
    color: #FFFFFF;
}

nav {
text-align:center;
}

header {
    background-color: #2C3E50;
    color: #FFFFFF;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.header-content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-align: left;
}

.header-content a {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 10px;
    background-color: #2C3E50;
    border-radius: 5px;
    font-size: 14px;
}

.header-content a:hover {
background-color: #D35400;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

.image {
    width: 300px;
    height: 200px;
    max-height: 200px;
    margin: right;
}

.image.c:\Users\salon\Downloads\rautaa.jpg {
    margin-left: auto;
}

.image-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

}

.image-container img {
    width: 200px;
    height: 200px;
    max-height: 200px;
}  

.rivi {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
}

.sarakkeet {
    flex: 1;
    padding-right: 20px;
}

footer {
    background-color: #2C3E50;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 13px;
    box-sizing: border-box;
}

footer a {
    color: #FFFFFF;
    text-decoration: underline;
}

footer a:hover {
    text-decoration: underline;
}

.footer-content {
    margin: 5px 0;
    text-decoration: none;
    color: #FFFFFF;

}

.social-media a {
    margin: 0 10px;
    text-decoration: underline;
    color: #FFFFFF;
}

.social-media a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .navbar ul {
        display: block;
    }
    .container {
        padding: 10px;
    }
    .image-container {
        display: flex;
        flex-direction: column;
    }
}
